
name: <%= prof.rows[0].name %>
<br>

phone: <%= prof.rows[0].phone %>
<br>

gender: <%= prof.rows[0].gender %>
<br>

age: <%= prof.rows[0].age %>
<br>

weight: <%= prof.rows[0].weight %>
<br>

height: <%= prof.rows[0].height %>
<br>

region of pain: <%= prof.rows[0].region %>
<br>

specific pain: <%= prof.rows[0].specify %>
<br>

<a href="/updateProfile">Update profile</a>